.wishlist-entry-container {
  display: flex;
}

.side-entry {
  width: 270px;
  height: 50px;
  margin-bottom: 8px;
  align-items: center;
  justify-content: space-between;
}

.wishlist-entry {
  background-color: #dfdedf;
  width: 240px;
  color: #313131;
  height: inherit;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  font-size: 15px;
}

.wishlist-entry-title {
  width: 200px;
  user-select: none;
}

.wishlist-entry-edit-button {
  width: 40px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wishlist-entry-edit-button i {
  color: #f2f0f2;
  font-size: 20px;
}

/*
* ----- WHOLE ENTRY -----
*/

/*
  CARD OUTTER CONTAINER
*/
.whole-entry {
  width: 95%;
  height: 600px;
  margin: 1% 2.5%;
}

/*
  CARD INNER CONTAINER
*/
.wishlist-whole-entry {
  background-image: linear-gradient(to left, #178552, #156d44);
  border-radius: 4px;
  width: 100%;
  height: inherit;
  color: #f2f0f2;
  display: flex;
}

.wishlist-whole-entry-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28%;
}

.wishlist-whole-entry-right {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 72%;
  overflow: hidden;
  overflow-y: scroll;
}

.wweh-title {
  text-align: center;
  width: 100%;
  height: auto;
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 20px;
}

.wweh-description {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 100%;
  min-height: 180px;
  max-height: 230px;
  padding: 10px;
  overflow: hidden;
  overflow-y: scroll;
}

.wweh-data {
  width: 100%;
  padding: 10px;
  height: 40px;
  display: flex;
  align-items: center;
}

.wwel-button {
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: 300;
  padding: 10px;
  text-decoration: underline transparent;
  transition: text-decoration 0.3s ease-in;
}

.wwel-button:hover {
  text-decoration: underline;
}

.wwel-row {
  display: flex;
}

.wwel-column {
  display: flex;
  flex-direction: column;
}

.wishlist-whole-entry-item {
  min-height: 200px;
  max-height: 250px;
  margin-bottom: 5px;
  transition: box-shadow 0.3s ease-in;
  border: 1px solid #36363633;
  border-radius: 4px;
  display: flex;
}

.wishlist-whole-entry-item:hover {
  box-shadow: 0px 0px 6px 4px #36363633;
}

.wwei-left {
  width: calc(26% + 10px);
  height: auto;
}

.wwei-img {
  width: 100%;
  height: 100%;
  position: relative;
}

.wwei-img img {
  border-radius: 4px 0px 0px 4px;
  width: 100%;
  height: 100%;
  opacity: 0.87;
}

.wwei-right {
  width: calc(74% - 10px);
  padding-left: 10px;
  height: auto;
}

.wwei-right-buttons {
  display: flex;
  align-items: center;
  margin-right: 15px;
  height: 25.5px;
}

.wwei-title {
  height: 35px;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.wwei-title span {
  white-space: nowrap;
}

.wwei-title::-webkit-scrollbar {
  display: none;
}

.wwei-right-button {
  width: 35px;
  font-size: 20px;
}

.wwei-price-and-source {
  height: 30px;
  display: flex;
  align-items: center;
}

.wwei-price {
  font-size: 15px;
}

.wwei-link {
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 15px;
  text-decoration: underline transparent;
  transition: text-decoration 0.3s ease-in;
}

.wwei-link:hover {
  text-decoration: underline;
}

.wwei-source-name {
  margin-left: 5px;
  font-size: 13px;
  color: #d4cdcdcc;
  font-style: italic;
}

.wwei-item-history {
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 15px;
}
