.wishlist-item-container {
  width: 270px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.wishlist-item {
  background-color: #dfdedf;
  width: 240px;
  color: #313131;
  height: inherit;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  font-size: 15px;
}

.wishlist-item-title {
  width: 200px;
  user-select: none;
}

.wishlist-item-edit-button {
  width: 40px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wishlist-item-edit-button i {
  color: #F2F0F2;
  font-size: 20px;
}
