.wishlist-outter-container {
  height: 400px;
  background-color: #56a681;
  border-radius: 10px;
  padding: 15px;
}

.wishlist-header {
  display: flex;
  height: 40px;
}

.wishlist-title {
  font-size: 19px;
  font-weight: 400;
  color: #f2f0f2;
  width: 40%;
}

.wishlist-component-filter {
  width: 180px;
  padding-top: 2px;
}

.wishlist-component-filter form {
  display: flex;
}

.wishlist-componenet-filter-input {
  position: relative;
}

.wishlist-componenet-filter-input button {
  position: absolute;
  right: 5px;
}

.wishlist-componenet-filter-input input {
  width: 145px;
  height: 25px;
  border: 0;
  border-radius: 7px;
  background-color: #f2f0f2;
  color: #313131;
  padding-left: 5px;
  padding-right: 25px;
}

.wishlist-componenet-filter-button {
  color: #F2F0F2;
  margin-left: 10px;
}

.wishlist-componenet-filter-input-clear {
  color: #313131;
}