.wishlist-outter-container {
  background-color: #148c54;
  padding: 15px;
}

.side-wishlist-element {
  width: 300px;
  height: 400px;
}

.whole-wishlist-element {
  margin: 5px auto;
  min-height: calc(100vh - 74px - 10px);
}

.wishlist-outter-container .pagination-container {
  margin: 15px auto 0 auto;
}

.wishlist-inner-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.wishlist-header {
  display: flex;
}

.wishlist-header.side-header {
  height: 40px;
}

.wishlist-header.whole-header {
  height: 60px;
}

.wishlist-title {
  font-weight: 400;
  color: #f2f0f2;
}

.side-header .wishlist-title {
  width: 40%;
  font-size: 19px;
}

.whole-header .wishlist-title {
  width: 65%;
  font-size: 26px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.side-header .wishlist-component-filter {
  width: 180px;
  padding-top: 2px;
}

.wishlist-add-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}

.whole-header .wishlist-component-filter {
  width: 25%;
  padding-top: 2px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.wishlist-component-filter form {
  display: flex;
}

.wishlist-component-filter-input {
  position: relative;
}

.wishlist-component-filter-input button {
  position: absolute;
  right: 5px;
}

.whole-header .wishlist-component-filter-input button {
  right: 22px;
  top: 2px;
  font-size: 1.3rem;
}

.wishlist-component-filter-input input {
  border: 0;
  border-radius: 4px;
  background-color: #f2f0f2;
  color: #313131;
  padding-left: 5px;
  padding-right: 25px;
}

.side-header .wishlist-component-filter-input input {
  width: 145px;
  height: 25px;
}

.whole-header .wishlist-component-filter-input input {
  width: 95%;
  height: 36px;
  font-size: 1.2rem;
}

.wishlist-component-filter-button {
  color: #F2F0F2;
  margin-left: 10px;
}

.whole-header .wishlist-component-filter-button {
  margin-left: 0px;
  font-size: 1.2rem;
}

.wishlist-component-filter-input-clear {
  color: #313131;
}

.wishlist-add-button-wrapper {
  width: 100%;
}

.wishlist-add-button {
  width: 100%;
  height: 40px;
  background-color: #178552;
  color: #f2f0f2;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.wishlist-add-button:hover {
  background-color: #196b45;
}