.hpfe-outter-container {
  background-color: #56a681;
  border-radius: 10px;
  height: 250px;
  padding: 7px;
  display: flex;
  flex-direction: column;
}

.hpfe-header {
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.hpfe-inner-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hpfe-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f2f0f2;
  background-color: #03ad5e;
  border-radius: 10px;
  height: 150px;
}

.hpfe-item span {
  margin-bottom: 2px;
}

.hpfe-item span:first-child {
  margin-bottom: 7.5px;
  font-size: 16px;
  font-weight: 500;
}

.hpfe-pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hpfe-edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fixed-expense-edit-input {
  width: 90%;
  height: 28px;
  border: 0;
  border-radius: 5px;
  margin: 2.5px 0;
  padding-left: 10px;
  color: #313131;
  background-color: #f2f0f2;
  font-size: 14px;
}

.hpfe-edit-container button {
  margin-top: 5px;
  width: 40px;
  height: 20px;
}