.hpfe-outter-container {
  height: 250px;
}

.hpfe-outter-container.editable {
  height: 455px;
}

.hpfe-header {
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.hpfe-inner-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px 0;
}

.hpfe-edit-buttons {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.hpfe-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f2f0f2;
  background-color: #03ad5e;
  border-radius: 10px;
  height: 150px;
}

.hpfe-item.editable {
  height: 300px;
}

.hpfe-item span {
  margin-bottom: 2px;
}

.hpfe-item span:first-child {
  margin-bottom: 7.5px;
  font-size: 16px;
  font-weight: 500;
}

.hpfe-pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hpfe-edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fixed-expense-edit-input {
  width: 90%;
  height: 28px;
  border: 0;
  border-radius: 5px;
  margin: 2.5px 0;
  padding-left: 10px;
  color: #313131;
  background-color: #f2f0f2;
  font-size: 14px;
}

.fixed-expense-edit-input.date-picker {
  width: 100%;
}

.fixed-expense-edit-input.begin {
  color: #03ad5e;
}

.fixed-expense-edit-input.end {
  color: rgb(175, 19, 19);
}

.hpfe-edit-container button {
  margin-top: 5px;
  width: 40px;
  height: 20px;
}

.fixed-expense-manage-button {
  font-size: 20px;
}

.fixed-expense-manage-button:hover {
  stroke-width: 1px;
}

.fixed-expense-manage-button i {
  stroke: #fff;
  stroke-width: 0;
  stroke-opacity: 0.5;
  transition: stroke-width 0.3s ease-in;
  fill: #f2f0f2;
}

.fixed-expense-manage-button i:hover {
  stroke-width: 1px;
}