.expense-track-page-outter-container {
  background-color: #148c54;
  min-width: 80vw;
  max-width: 95vw;
  width: 88vw;
  height: auto;
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px;
  color: #F2F0F2;
}

.expense-track-page-inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.expense-track-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 15px 0;
}
