.id-type-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.id-type-value {
  width: 290px;
}

.register-title {
  margin-bottom: 20px;
}

.register-button {
  margin-bottom: unset;
}

.register-variation .auth-input-container {
  margin-bottom: 27px;
}