.id-type-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.id-type-value {
  width: 200px;
}

.register-title {
  margin-bottom: 20px;
}

.register-button {
  margin-bottom: unset;
}

.register-variation {
  height: auto;
}

.register-variation .auth-input-container {
  margin-bottom: 27px;
}

@media (min-width: 576px) {
  .login-outter-container.register-variation {
    padding: 10px;
  }
}

@media (min-width: 768px) {
  .id-type-value {
    width: 300px;
  }

  .register-variation .auth-input-container {
    margin-bottom: 17px;
  }
}