.expense-track-page-outter-container {
  background-color: #148c54;
  min-width: 80vw;
  max-width: 95vw;
  width: 88vw;
  height: auto;
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px;
  color: #F2F0F2;
}

.expense-track-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.expense-track-header .hpfe-outter-container {
  margin: 0 auto;
}

.expense-track-header-charts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-top: 10px;
}

.expense-track-page-inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.expense-track-item {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 48%;
  margin: 5px;
}

.manage-expenses-header {
  display: flex;
  justify-content: space-between;
}

.manage-buttons {
  display: flex;
}

.meh-right {
  justify-content: end;
}

.meh-right button {
  margin-right: 0;
  margin-left: 15px;
}

.meh-left {
  justify-content: start;
}

.manage-button {
  width: 250px;
  height: 45px;
  background-color: #03ad5e;
  margin-right: 15px;
  padding: 5px;
  font-size: 0.9em;
  border-radius: 10px;
  transition: background-color 0.5s ease-in-out;
}

.manage-button:hover {
  background-color: #08a35b;
}

.edit-variable-expenses-section {
  width: calc(97% + 10px);
  margin: 40px auto;
}

.edit-variable-expense-group-container {
  margin: 10px 0;
}

.edit-variable-expense-group-container h2 {
  margin-left: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.edit-variable-expense-group {
  display: flex;
  flex-wrap: wrap;
}