.main-page {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.box-shadow {
  box-shadow: 0px 2px 10px 5px rgba(100, 100, 111, 0.2);
}

.side-element {
  width: 300px;
}

.bi-three-dots-vertical {
  color: #f2f0f2;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bi-lightbulb-fill {
  color: #f2f0f2;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 35px;
  width: 100vw;
}

.auth-info {
  display: none;
}

.auth-info h3 {
  font-size: 37px;
  font-weight: 400;
  color: #148c54;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 25px;
}

.auth-info span {
  font-size: 29px;
  color: #03ad5e;
  width: 590px;
  text-align: center;
  text-align-last: center;
}

.auth-img {
  width: 600px;
  height: 485px;
  transition: transform 0.3s ease-in-out;
}

.auth-img:hover {
  transform: scale(1.05);
}

.auth-input {
  width: 275px;
  height: 55px;
  border-radius: 15px;
  background-color: #f2f0f2;
  border: 0;
  padding-left: 27px;
  padding-right: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.auth-input::placeholder {
  color: #97c9aa;
  font-size: 24px;
}

.auth-button {
  width: 275px;
  height: 55px;
  border-radius: 15px;
  background-color: #148c54;
  color: #f2f0f2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 70px;
}

.invalid-feedback {
  margin-top: 0 !important;
}

.nothing-to-show {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  text-align: center;
}

.general-outter-container {
  padding: 7px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background-image: linear-gradient(to left, #178552, #156d44);
}

.underline {
  text-decoration: underline;
}

.ml-1 {
  margin-left: 5px;
}

.ml-2 {
  margin-left: 10px;
}

.ml-3 {
  margin-left: 20px;
}

.date-picker {
  background-color: #f2f0f2;
  border-radius: 10px;
  border: 0;
  margin: 2.5px 0;
  padding-left: 7px;
  width: 300px;
  font-size: 15px;
}

@media (min-width: 576px) {
  .auth-input {
    height: 60px;
    padding-left: 44px;
  }

  .auth-button {
    height: 60px;
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .auth-input {
    width: 375px;
    height: 75px;
  }

  .auth-button {
    width: 375px;
    height: 75px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .auth-section {
    margin-top: 30px;
  }

  .auth-info {
    display: flex;
    flex-direction: column;
  }

  .auth-info h3 {
    font-size: 37px;
    font-weight: 400;
    color: #148c54;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
  }

  .auth-info span {
    font-size: 29px;
    color: #03ad5e;
    width: 590px;
    text-align: center;
    text-align-last: center;
  }

  .auth-img {
    width: 600px;
    height: 485px;
    transition: transform 0.3s ease-in-out;
  }

  .auth-img:hover {
    transform: scale(1.05);
  }

  .auth-input {
    width: 375px;
    height: 75px;
    border-radius: 15px;
    background-color: #f2f0f2;
    border: 0;
    padding-left: 44px;
  }

  .auth-input::placeholder {
    color: #97c9aa;
    font-size: 24px;
  }

  .auth-button {
    width: 375px;
    height: 75px;
    border-radius: 15px;
    background-color: #148c54;
    color: #f2f0f2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 70px;
  }
}
