.bi-three-dots-vertical {
  color: #f2f0f2;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bi-lightbulb-fill {
  color: #f2f0f2;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 90px;
}

.auth-info {
  display: flex;
  flex-direction: column;
}

.auth-info h3 {
  font-size: 37px;
  font-weight: 400;
  color: #148C54;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 25px;
}

.auth-info span {
  font-size: 29px;
  color: #03AD5E;
  width: 590px;
  text-align: center;
  text-align-last: center;
}

.auth-img {
  width: 600px;
  height: 485px;
  transition: transform 0.3s ease-in-out;
}

.auth-img:hover {
  transform: scale(1.05);
}

.auth-input {
  width: 375px;
  height: 75px;
  border-radius: 15px;
  background-color: #f2f0f2;
  border: 0;
  padding-left: 44px;
}

.auth-input::placeholder {
  color: #97c9aa;
  font-size: 24px;
}

.auth-button {
  width: 375px;
  height: 75px;
  border-radius: 15px;
  background-color: #148C54;
  color: #f2f0f2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 70px;
}