.my-info-outter-container {
  height: 160px;
  background-color: #148c54;
  color: #f2f0f2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.my-info-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .my-info-header div :nth-child(2) {
  margin-left: 10px;
} */

.my-info-title {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 17px;
}

.my-info-button-display {
  display: flex;
  flex-direction: row;
}

.my-info-inner-container {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.my-info-inner-container span {
  margin-bottom: 8px;
}

.my-info-show-info-button {
  display: flex;
  justify-content: right;
  width: 40px;
  height: 40px;
}

.my-info-edit-button {
  display: flex;
  justify-content: right;
  width: 40px;
  height: 40px;
  margin-left: 2px;
}
