.my-info-outter-container {
  height: 160px;
  background-color: #148c54;
  color: #f2f0f2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.my-info-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .my-info-header div :nth-child(2) {
  margin-left: 10px;
} */

.my-info-title {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 17px;
}

.my-info-button-display {
  display: flex;
  flex-direction: row;
}

.my-info-inner-container {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.my-info-inner-container span {
  margin-bottom: 8px;
}

.my-info-show-info-button {
  display: flex;
  justify-content: right;
  width: 40px;
  height: 40px;
}

.my-info-edit-button {
  display: flex;
  justify-content: right;
  width: 40px;
  height: 40px;
  margin-left: 2px;
}

.my-info-edit-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  position: relative;
}

.my-info-edit-field span {
  margin: 0;
}

.my-info-edit-field input {
  width: 180px;
  height: 21px;
  border: 0;
  background-color: #f2f0f2;
  border-radius: 4px;
  color: #313131;
  font-size: 13px;
  padding-left: 5px;
}

.my-info-edit-field-button {
  position: absolute;
  display: flex;
  justify-content: right;
  align-items: center;
  right: 5px;
  color: #148c54;
  width: 40px;
  height: 40px;
}